<br><br>
<div class="row"> 
	<div class="col-md-2"></div>
	<div class="col-md-2"><img src="<%= asset_path 'icons/png/notepad-6.png'%>"  width="150" height="150" class="d-inline-block align-top" alt=""> </div>
	<div class="col-md-5">
		<h2>
			¡¡ <%= @asistente.nombre %>, para Nosotros es genial que puedas acompañarnos en este gran evento!!
		</h2>
	</div>
	<div class="col-md-3"></div>
</div>
